.container{
    background-image: url('assets/backgound_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.card {
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:flex-end;
    height: 400px;
    top: 50%;
    box-shadow: 0 0 3px 0;
    background: inherit;
    backdrop-filter: blur(5px);
    margin:100px;
    border-radius: 25px;
}
.header{ 
    color: white;
    text-align: justify;
    margin:10px 40px 10px 40px;
}
.description{
    /* font-size: 20px; */
    margin: 20px, 0, 20px, 100px;
}