.container {
  /* background-image: url('assets/backgound_image.jpg'); */
  background-image: url("assets/purple_background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 400px;
  top: 50%;
  box-shadow: 0 0 3px 0;
  background: inherit;
  backdrop-filter: blur(5px);
  margin: 100px;
  border-radius: 25px;
}
.login {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 400px;
  top: 50%;
  box-shadow: 0 0 3px 0;
  background: inherit;
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 100px;
  border-radius: 25px;
}
.signup {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 520px;
  width: 400px;
  top: 50%;
  box-shadow: 0 0 3px 0;
  background: inherit;
  backdrop-filter: blur(5px);
  margin: auto;
  margin-top: 50px;
  border-radius: 25px;
}
.header {
  color: white;
  text-align: justify;
  margin: 10px 40px 10px 40px;
}
.description {
  color: white;
  margin: 0px 40px 10px 10px;
  direction: rtl;
  text-align: justify;
}
.joinus {
  background-color: transparent;
  margin: 0px 60px 40px 40px;
  border-radius: 25px;
  border-color: #fff;
  height: 30px;
}
.go-to {
  text-decoration: none;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input {
  background: transparent;
  width: 200px;
  height: 40px;
  padding: 10px, 10px;
  margin: 10px, 10px, 200px, 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-color: white;
  caret-color: white;
  color: white;
}
::placeholder {
  color: white;
  opacity: 0.8;
}
.input:focus {
  outline: none;
}
.small-text {
  font-size: 10px;
  color: white;
}
.register-link {
  font-size: 12px;
  color: white;
  border-bottom-style: groove;
  border-bottom: white;
}
.login-btn {
  background-color: transparent;
  margin: auto;
  border-radius: 25px;
  border-color: #fff;
  height: 30px;
  width: 100px;
  text-decoration: none;
  color: white;
}
/*<--------------------------------------------------->*/
.stream-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-card {
  height: 440px;
  width: 400px;
  box-shadow: 0 0 3px 0;
  background: inherit;
  backdrop-filter: blur(5px);
  margin: 20px;
  border-radius: 25px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  overflow: hidden; /* add this to contain floated children */
}
.username {
  display: flex;
  flex-direction: row;
  float: left;
  margin: 5px;
  padding-left: 10px;
}
.dots-img {
  display: flex;
  float: right;
  margin: 5px;
  align-items: flex-end;
  padding-left: 270px;
}
.user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.heart-img {
  display: flex;
  margin: 10px;
  align-items: flex-end;
  padding-left: 20px;
}
.comment-img {
  display: flex;
  margin: 8px;
  align-items: flex-end;
  padding-left: 10px;
}
.caption {
  display: flex;
  margin: 5px;
  align-items: flex-end;
  padding-left: 10px;
}
.img {
  width: 100%;
}
.navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  display:flex;
  width: 100%;
}

.navbar div {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
  flex: 3;
}

.navbar div:hover {
  background: #ddd;
  color: black;
}

.navbar div.active {
  background: #ddd;
  color: black;
}
